@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /* Arquivo CSS da fonte Ubunto */


body {
    font-family:'Ubuntu', sans-serif;
}

h1 {
    font-size: 2em; /* 1rem = 16px  1em = 'M'*/
    font-weight: bold;
    color: #06344f;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #072639;
}


header {
    background-color: #4499c7;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky; /* pode ser necessário top, left, bottom ou right */
    top: 0;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color: #ffffff;
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover {
    background-color: #023e8a;
}

section {
    min-height: 90vh; /* vh -> viewport height (altura da viewport) */
    margin: 2rem;
    scroll-margin-top: 7rem;
    padding: 2rem;
    /* border: 1px solid #000; */
    /* border-radius: 10px; --> para bordas arredondadas */ 
    /* overflow: hidden;*/
}

#meusProjetos .card:hover {
    background-color: #45a4d7;
}

#meusProjetos .card {
    width: 22%;
}

#meusProjetos .cards-em-linha {
    display: flex;
    justify-content: space-between;

}

/* section#formacaoAcademica,
section#hardSkills {
    border: none;
} */

.titulo-secao {
    text-align: center;
    margin-bottom: 2rem;
}

section ol {
    list-style-type: lower-circle;
}

section ul {
    list-style-type: square;
}


p {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

/* table th, td {
    border: 1px solid;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
} */
input[type="text"],
input[type="email"],
input,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .25rem .75rem;
    color: #333;
    resize: none;

}

input[type="submit"] {
    background-color: #0077b6;
    color: #ffffff;
    padding: .25rem .75rem;
    border: none;
}

/* ESTILOS DOS CARDS */

.card {
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    list-style: none;
}

.titulo-card {
    font-weight: bold;
    color: #0077b6;
    font-size: 1.3rem;
}

.intituicao-card {
    font-size: 1.1rem;
    color: #555;
}

.emoji-card {
    text-align: center;
    font-size: 1.5rem;
}

.projeto-card{
    text-align: center;
}

.cards-em-coluna {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards-em-linha {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}


.projetos-card:link {
    color: hotpink;
}
